<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.board.mapper.BoardMapper">
    <insert id="create" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="no">
        insert into tbl_board_ex(title, content, writer)
        values (#{title}, #{content}, #{writer})

<!--        Select Key : autoincrement로 자동 생성된 pk 값을 받을 수 있는 기능-->
<!--        <selectKey resultType="Long" keyProperty="no" keyColumn="no" order="AFTER">-->
<!--            SELECT LAST_INSERT_ID()-->
<!--        </selectKey>-->
    </insert>

    <update id="update">
        update tbl_board_ex
        set
            title = #{title},
            content = #{content},
            writer = #{writer},
            update_date = now()

    </update>

    <select id = "get" resultType="org.scoula.board.domain.BoardVO">
        select * from tbl_board_ex
        where no = #{no}
    </select>



</mapper>