/* 
전역 CSS
- 모든 컴포넌트에 적용
- main.js에서 import 해야 함.
- 공통 레이아웃/기본 스타일 지정 시 사용
*/

.box {
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
}

.global-style {
  background-color: bisque;
  border: 2px solid yellow;
}

.container {
  font-family: 'Gungsuh';
}
