<configuration>
    <!--
     @SLF4J(Simple Logging Facade for Java)
     -->
    <!-- appender : 로깅 정보를 다루기 위한 (Console은 터미널에 로그 출력. 보통 db에 저장. ) -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>
%n✅경과 시간 : %-4relative
✅스레드 정보 : [%thread]
✅로그 레벨 : %-5level
✅로거 이름 : %logger{30}
✅로그 메시지 : %msg%n
            </pattern>
        </encoder>
    </appender>


    <!--
    특정 패키지의 로그 레벨 설정
    -->
    <logger name="org.mongodb.driver.connection" level="INFO" additivity="true"/>

    <!--
    전체 어플리케이션의 로그 설정
    -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>